* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px dotted red; */
    color: darkolivegreen;


}

body {
    background-color: #F5F5F0;
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}


/* for laptop or pc */
@media (min-width: 1024px) {

    /* #nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        z-index: 999;
    }


    #nav .nav-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 150px;
        margin: 5px;
        font-size: 20px;
    }

    #nav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: 5px;
        width: 30vw;
    } */



    #logoContainer {
        position: fixed;
        display: block;
        width: 100vw;
        z-index: 999;
    }

    #logo {
        display: flex;
        position: relative;
        top: 60px;
        /* left: -20px; */
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #logo .fa-brands {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo .fa-brands p {
        position: absolute;
        font-weight: bold;
        color: #F5F5F0;
        top: 40px;
        z-index: 999;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    #container {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;

    }

    #container .section {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
    }

    #home {
        position: relative;
        width: 100vw;
    }

    #home .image {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        border: darkolivegreen solid 10px;
        background-color: burlywood;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

    #home .image img {
        height: 370px;
        width: 370px;
        border-radius: 50%;
    }

    #home .left {
        height: 500px;
        width: 500px;
        position: absolute;
        left: 170px;

    }

    #home .right {
        height: 500px;
        width: 500px;
        position: absolute;
        left: 1020px;

    }

    #home .right div {
        height: 160px;
        width: 500px;
        border-bottom: 2px solid darkolivegreen;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: justify;

    }

    #home .right .resume {
        text-align: right;
        margin: 5px;
    }


    #home .left div {
        height: 350px;
        width: 500px;
        border-bottom: 2px solid darkolivegreen;
        display: flex;
        justify-content: end;
        flex-direction: column;
        font-size: 50px;
    }



}