*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    /* outline: 2px dotted red; */
    /* color: darkolivegreen; */



}


html {
    scroll-behavior: smooth;
    box-sizing: inherit;
    height: -webkit-fill-available;
}

body {
    background-color: #F5F5F0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    height: -webkit-fill-available;
    color: darkolivegreen;


}

body.overflow-hidden {
    overflow: hidden;
}


a, button {
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    background: none;
    box-shadow: none;
    text-decoration: none;
}


img, video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


@media (min-width: 567px){

}


/* for laptop or pc */
@media (min-width: 1024px) {

    /* #nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        z-index: 999;
    }


    #nav .nav-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 150px;
        margin: 5px;
        font-size: 20px;
    }

    #nav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: 5px;
        width: 30vw;
    } */



    #logoContainer {
        display: block;
        width: 100%;
        z-index: 999;
    }

    #logo {
        display: flex;
        position: relative;
        top: 60px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #logo .fa-brands {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo .fa-brands p {
        position: absolute;
        font-weight: bold;
        color: #F5F5F0;
        top: 40px;
        z-index: 999;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    /* #container {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;

    }  */

    #container .section {
        /* height: 100vh; */
        width: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        scroll-snap-align: start;
        /* position: sticky; */
        /* top: 0; */
    }

    #home {
        width: 100%;
        height: 100vh;

    }

    #home-wrapper {
        /* position: sticky; */
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home .image {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        border: darkolivegreen solid 10px;
        background-color: burlywood;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease-in;
        /* position: sticky; */
        /* animation: imageAnimation 1ss both;
        animation-timeline: view(150%); */
    }

    /* @keyframes imageAnimation {
        from {
            transform: translate(0px, 0px)
        }

        to {
            transform: translate(-200px, 500px)
        }
    } */

    .imageLeft {
        transform: translateX(-500px)
    }

    #home .image img {
        height: 370px;
        width: 370px;
        border-radius: 50%;
    }

    #home .imgAboutMe {
        height: 50px;
        width: 50px;
        background-color: red;
    }

    #home .left {
        height: 500px;
        width: 500px;
        position: absolute;
        left: 170px;
        /* animation: toLeft 1s ease; */
        transition: 0.5s linear;
        /* animation-timeline: view(); */

    }

    @keyframes toLeft {
        from {
            opacity: 0;
            transform: translateX(500px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #home .right {
        height: 500px;
        width: 500px;
        position: absolute;
        left: 1020px;
        transition: 0.5s linear;
        /* animation: toRight 1s ease; */
        /* animation-timeline: view(); */

    }

    @keyframes toRight {
        from {
            opacity: 0;
            transform: translateX(-500px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #home .right div {
        height: 160px;
        /* width: 500px; */
        border-bottom: 2px solid darkolivegreen;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: justify;

    }

    #home .right .resume {
        text-align: right;
        margin: 5px;
    }


    #home .left div {
        height: 350px;
        width: 500px;
        border-bottom: 2px solid darkolivegreen;
        display: flex;
        justify-content: end;
        flex-direction: column;
        font-size: 50px;
    }

    #aboutMe {
        width: 100%;
        height: 100vh;

    }

    #projects {
        width: 100%;
        height: 100vh;

    }

    #contacts {
        width: 100%;
        height: 100vh;

    }

}